<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="Login.css")
    
        title Login
    body
    div.main
        p.sign(align='center') Sign in
            form.form1(action="/" method="post")
                input.un(type='text' align='center' name="username" placeholder='Username')
                input.pass(type='password' align='center' name="password" placeholder='Password')
                button.submit(align='center' type="submit") Login
